.watch_crousel{

    margin: 10px 10px;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: repeat(4,1fr);
    background-color: #033473;
}

.watch_crousel>div{
    width: auto;
    /* height: 400px; */
    margin: 10px;
}
.watch_crousel>div>p{
    color: white;
}
.watch_news_text{
    text-align: start;
    padding-left: 1.2rem;
}
@media screen and (max-width: 639px) {
    .watch_crousel{
        margin: 10px 10px;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: repeat(2,1fr);
        background-color: #033473;
    }
  }
  @media screen and (max-width: 404px) {
    .watch_crousel{
        margin: 10px 10px;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: repeat(1,1fr);
        background-color: #033473;
    }
  }